@import '../../../styles/variables.scss';
@import '../../../styles/responsiveness.scss';

.stampsGrid {
  width: 100%;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: auto;

  @include tabletBreakpoint() {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include mobileBreakpoint() {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}