@import '../../../styles/variables.scss';
@import '../../../styles/responsiveness.scss';

body {
  @include tabletBreakpoint() {
    overflow-y: auto;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  @include tabletBreakpoint() {
    flex-direction: column;
  }
}

.left {
  border: 1px solid $black;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 60%;

  @include tabletBreakpoint() {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.right {
  border-right: 1px solid $black;
  width: 40%;

  @include tabletBreakpoint() {
    width: 100%;
  }

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;

    li {
      list-style: none;
      border-bottom: 1px solid $black;
      padding: 2rem;
      height: 100%;

      .links {
        display: flex;
        flex-direction: column;
      }
    }
  }
}