@import '../../../../styles/variables.scss';
@import '../../../../styles/responsiveness.scss';

.container {
  border: 1px solid $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 1.5rem 4rem;
  height: 100px;
  align-items: center;

  @include mobileBreakpoint () {
    display: none;
  }
}

.container img {
  height: 3rem;
}

.links ul {
  align-items: center;
  display: flex;
  gap: 4rem;
  list-style: none;
}