@import 'variables.scss';
@import 'responsiveness.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $typography;
}

body {
  overflow: hidden;

  @include tabletBreakpoint() {
    overflow-y: auto;
  }
}

h1 {
  color: $primaryColor;
}

p {
  font-weight: 400;
}

h3 {
  color: $black;
}

::-webkit-scrollbar {
  width: 18px;
  background: $white;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: $black;
}

::-webkit-scrollbar-track {
  background: $white;
  border-left: 1px solid $black;
  border-right: 1px solid $black;
  border-radius: 0;
}
