@import 'variables.scss';
@import 'responsiveness.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $typography;
}

body {
  overflow: hidden;
}

h1 {
  color: $primaryColor;
}

p {
  font-weight: 400;
}

h3 {
  color: $black;
}