// --------- Typography --------- //
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

$typography: 'Roboto Mono', sans-serif;

// ----------- Colors ----------- //
$primaryColor: #1450eb;
$primaryColorDisabled: rgba(20, 80, 235, 0.4);
$secondaryColor: #ff5a5a;
$black: #222222;
$white: #ffffff;
