@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

// ----------- Colors ----------- //
$primaryColor: #1450EB;
$primaryColorDisabled: rgba(20, 80, 235, 0.4);
$secondaryColor: #FF5A5A;
$black: #222222;
$white: #FFFFFF;

// --------- Typography --------- //

$typography: 'Roboto Mono', sans-serif;

h1 {
  color: $primaryColor;
}

p {
  font-weight: 400;
}

h3 {
  color: $black;
}