@import '../../../../styles/variables.scss';
@import '../../../../styles/responsiveness.scss';

.link {
  text-decoration: none;
  color: $black;

  &.primary {
    color: $black;

    &:hover {
      color: $primaryColor;
      font-weight: 500;
    }
  }

  &.secondary {
    color: $black;

    &:hover {
      color: $secondaryColor;
    }
  }

  &.tertiary {
    color: $white;

    &:hover {
      color: $secondaryColor;
    }
  }

  &.backBtn {
    position: absolute;
    left: 4rem;
    top: 2rem;

    @include tabletBreakpoint() {
      position: unset;
      padding: 2rem 0 0 2rem;

      &.tertiary {
        color: $black;

        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }
}