@import '../../../styles/variables.scss';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.left {
  border: 1px solid $black;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 60%;

  img {
    padding-top: 10%;
    width: 50%;
  }
}

.right {
  border-right: 1px solid $black;
  width: 40%;

  ul {
    height: 100%;

    li {
      list-style: none;
      border-bottom: 1px solid $black;
      padding: 2rem;
      margin-top: 0;
      height: fit-content;

      &:last-child {
        height: 100%;
      }
    }
  }
}